@media(min-width: 1200px) {
    :root {
        --main-color: #000000;
        --font-size: 16px;
    }
  

    label{
        padding: 5px;
    }

    body {
        color: var(--main-color);
        font-size: var(--font-size);
    }

  
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        min-height: 100vh;
    }

    .header,
    .footer {
        background: #333;
        color: white;
        text-align: center;
        padding: 20px;
    }

    .nav {
        display:flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        background: #444;
        color: white;
        padding: 5px;
    }
    .nav a {
        margin-right: 25px; 
        color: white;
        text-decoration: none;
        font-weight: bold;
    }

    .main {
        padding: 20px;
        gap: 20px;
        min-height: 81vh;
        margin-left: 150px;
        margin-right: 150px;
    }

    .content {
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        background: #ffffff;
        padding: 30px;
        gap: 20px;
        flex-grow: 1;
    }

    .section {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(236, 236, 236);
        padding: 20px;
        height: 400px;
        width: 31%;
        text-align:center;
        margin-top: 5px;
    }

    p{
        margin:5px;
    }

    .footer {
        margin-top: 20px;
    }
    button {
        background-color:#000000;
        color: #ffffff;
        outline: 2px solid #000000;
        width: 70px;
        height: 30px;
    }
    button:hover {
        background-color:#ffffff;
        color: #000000;
    }

    button:active {
        background-color:#8d8d8d;
    }

    img{
        width: 170px;
        height: 170px;
        margin: 5px;
    }
}
 @media (max-width: 768px) and (min-width: 350px) {
    :root {
      --font-size: 14px;
    }

    body {
        color: var(--main-color);
        font-size: var(--font-size);
      }
    
      h2{
        padding: 10px;
      }
      p{
        display: none;
      }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .header,
    .footer {
        background: #333;
        color: white;
        text-align: center;
        padding: 20px;
    }
    

    .nav {
        justify-content: center;
        text-align: center;
        background: #444;
        color: white;
        padding: 5px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav a {
        margin-right: 25px; 
        color: white;
        text-decoration: none;
        font-weight: bold;
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #fff;
        background-color: #333;
    }



    .main {
        display:flex;
        padding: 20px;
        gap: 20px;
        justify-content: center;
    }
    
    .content {
        display: flex;
        flex-wrap:wrap;
        background: #ffffff;
        padding: 30px;
        gap: 20px;
        flex-grow: 1;
    }
    
    .section {
        display:flex;
        flex-direction: column;
        align-items: center;
        background: rgb(236, 236, 236);
        padding: 20px;
        height: 350px;
        width: 300px;
    }
    
    .footer {
        margin-top: 10px;
    }
    button {
        background-color:#000000;
        color: #ffffff;
        outline: 2px solid #000000;
        width: 70px;
        height: 30px;
    }
    button:hover {
        background-color:#ffffff;
        color: #000000;
    }
    
    button:active {
        background-color:#8d8d8d;
    }
    
    img{
        width: 220px;
        height: 220px;
        padding: 10px;
    }
      
  }

